[user]
	name = Chris Chu
	email = name@mail.com
[core]
	autocrlf = false
	filemode = false
[color]
	ui = true
[credential]
	helper = cache
[alias]
	last = log -1 HEAD
	re = reset
	co = checkout
	ci = commit
	br = branch
	st = status
	undo = reset HEAD --
